@font-face {
  font-family: DMItalic;
  src: url(./resources/DM_Serif_Text/DMSerifText-Italic.ttf);
}

@font-face {
  font-family: Inria;
  src: url(./resources/Inria_Serif/InriaSerif-Regular.ttf);
}

@font-face {
  font-family: DMRegular;
  src: url(./resources/DM_Serif_Text/DMSerifText-Regular.ttf);
}

@font-face {
  font-family: InriaBold;
  src: url(./resources/Inria_Serif/InriaSerif-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inria;
}
html,
body {
  height: 100%;
  width: 100%;
}
